.card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 6px;

    max-width: 300px;
    /* Limit max width */
    word-wrap: break-word;
    /* Wrap long words */
    overflow-wrap: break-word;
}